# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment (adjust the folder name if yours is different)
venv/
ENV/
env/
env.py

# Django stuff:
db.sqlite3
*.log
local_settings.py

# Collected static files (for production)
staticfiles/

# Media files (user uploads)
media/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
